@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<CourseViewModel>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kurslar</h5>
                    <a asp-controller="Course" asp-action="Create" class="btn btn-primary mb-3">Kurs oluştur</a>
                    @if (Model != null && Model.Any())
                    {
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Resim</th>
                                    <th>Kurs ismi</th>
                                    <th>Fiyat</th>
                                    <th>Süre</th>
                                    <th>Kategori</th>
                                    <th>Güncelle</th>
                                    <th>Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in Model)
                                {
                                    <tr>
                                        <td><img src="@course.StockPictureUrl" class="img-thumbnail" style="width:72px;"/></td>
                                        <td>@course.Name</td>
                                        <td>@course.Price</td>
                                        <td>@course.Feature?.Duration</td>
                                        <td>@course.CategoryViewModel?.Name</td>
                                        <td><a asp-controller="Course" asp-action="Update" asp-route-id="@course.Id" class="btn btn-success btn-sm">Güncelle</a></td>
                                        <td><a asp-controller="Course" asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger btn-sm">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            Kayıtlı Kurs Bulunamadı
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}